*{

margin: 0;
padding: 0;


}


body{

   background-image: url(./Imagens/pizzapcont.jpg);
   background-size: cover;
   border-radius: 50px;
   

}


#conteudo{

    margin: 10px;
background-color: #FFFFFFBB;
height: 600px;
width: 500px;
border-radius: 20px;
float: right;


}

.botao{

padding: 10px;
display: block;
text-align: center;
width: 200px;
border: none;

}

p{

text-align: center;
text-align: justify;
font-family: 'Praise', cursive;
font-size: 30px;
margin: 10px;


}