*{

margin: 0;
padding: 0;

}

body{

background-color: black;


}

.imagemempresa{

background-image: url(./Imagens/empresa.png.jpg);
height: 800px;
width: 100%;
background-size: cover;
border-radius: 50px;



}


.voltar{

    list-style: none;
    float: right;
    font-size: 30px;
    color: maroon;
    font-family: 'Praise', cursive;
    background-color: #FFFFFFBB;
    border-radius: 30px;
    padding: 15px;
    margin-top: 10px;

}

