*{

margin: 0;
padding: 0;

}

body{

background-color: black;


}

.imagemempresa{

background-image: url(./Imagens/empresa.png.jpg);
height: 800px;
width: 100%;
background-size: cover;
border-radius: 50px;
position: absolute;


}

.sobre{

color: black;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: #FFFFFFBB;
border-radius: 30px;
padding: 30px;
font-family: 'Praise', cursive;
text-align: justify;
font-size: 40px;
display: inline-block;
animation-name: mudarcor;
animation-fill-mode: forwards;
animation-duration: 5s;

}




@keyframes mudarcor{

from {background-color: #FFFFFFBB;}
to {background-color: black; color: white;}



}




.voltar{

    list-style: none;
    float: right;
    font-size: 30px;
    color: maroon;
    font-family: 'Praise', cursive;
    background-color: #FFFFFFBB;
    border-radius: 30px;
    padding: 15px;
    margin-top: 10px;
    animation-name: mudarcor;
animation-fill-mode: forwards;
animation-duration: 5s;

}

