*{

    margin: 0;
    padding: 0;
    
    }
    
    body{
    
    
    background-color: black;
    
    
    }
    
    
    
    a{
    
    text-decoration: none;
    
    }
    
    .cabecalho{
    
        
        height: 800px;
        background-image: url('./Imagens/pizzaH.jpg');
        background-size: cover;
        border-radius: 50px;
        position: relative;
    
        }
    
        h2{
    
            color: maroon;
            font-family: 'Praise', cursive;
            font-size: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%,-50%);
            background-color: #FFFFFFBB;
            border-radius: 30px;
            padding: 30px;

            }
    
      
.menuprincipal{
    
    list-style: none;
    float: right;
    font-size: 30px;
    padding-right: 20px;
    padding-top: 10px;
    color: maroon;
    font-family: 'Praise', cursive;
    background-color: #FFFFFFBB;
    border-radius: 30px;
    padding: 15px;

    }
    
    
    
    
    .pizza{
    
    float: left;
    
    }
    
    .descricaopizza {
    
    padding-top: 200px;
    color: white;
    text-align: justify;
    padding-right: 30px;
    font-family: 'Praise', cursive;
    font-size: 40px;
    
    }

    .pizzas{

    background-image: url(./Imagens/menu.jpg);
    height: 800px;
    background-size: cover;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    }

    .itens{

   padding: 80px;
   border-radius: 20px;
   background-color: #FFFFFFBB;


    }

    .tiposdep{

   color: black;
   font-family: 'Praise', cursive;
   font-size: 40px;
   list-style-position: inside;
  

  

    }
  
    
    .links{
    
    text-decoration: none;
    font-size: 20px;
    
    
    }

    footer{

        height: 200px;
        background-color: white;
        border-radius: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .info{

    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Praise', cursive;
   font-size: 30px;
   
    }